<plugin name='simple-jsonm-arshaller' version='0.1' grailsVersion='2.1 &gt; *'>
  <author>Adam Presley</author>
  <title>Simple JSON Marshaller Plugin</title>
  <description>Provides a way to control the marshalling of domain classes to JSON
</description>
  <documentation>http://grails.org/plugin/simple-json-marshaller</documentation>
  <type>SimpleJSONMarshallerGrailsPlugin</type>
  <resources />
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>